@import "tailwindcss";

@theme {
  --animate-split-left: split-left linear forwards;
  --animate-split-right: split-right linear forwards;
  --animate-fade-in: fade-in linear forwards;
  --animate-pulse-bounce: pulse-bounce 1s ease-in-out 0s infinite alternate;

  @keyframes split-left {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: translateX(calc(var(--spacing) * 10 * -1)) rotate(-90deg);
      opacity: 0;
    }
  }

  @keyframes split-right {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: translateX(calc(var(--spacing) * 10)) rotate(90deg);
      opacity: 0;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 100;
    }
  }
  @keyframes pulse-bounce {
    from {
      opacity: 80%;
    }
    to {
      opacity: 100%;
      transform: translateY(calc(var(--spacing) * 2)) scale(1.1);
    }
  }
}

@utility timeline-view {
  animation-timeline: view();
}

@utility timeline-scroll {
  animation-timeline: scroll();
}

body {
  background-color: var(--color-zinc-900);
  color: var(--color-white);
}

html {
  @apply snap-y snap-mandatory scrollbar-thumb-purple-700 overflow-x-hidden;
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
}
