@import "tailwindcss";

@theme {
  --animate-split-left: split-left linear forwards;
  --animate-split-right: split-right linear forwards;
  --animate-fade-in: fade-in linear forwards;

  @keyframes split-left {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: translateX(-50px) rotate(-90deg);
      opacity: 0;
    }
  }

  @keyframes split-right {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: translateX(50px) rotate(90deg);
      opacity: 0;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 100;
    }
  }
}

@utility timeline-view {
  animation-timeline: view();
}

@utility timeline-scroll {
  animation-timeline: scroll();
}

body {
  background-color: var(--color-zinc-900);
  color: var(--color-white);
}

html {
  @apply snap-y snap-proximity scrollbar-thumb-purple-700 overflow-x-hidden
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
}
